<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% for page in pagination.iter_pages() %}
        {% if page %}
        {% if page == pagination.page %}
        <li class="page-item active">
            <a class="page-link">{{ page }} <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="page-item" aria-current="page">
            <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="page-item disabled">
            <span class="ellipsis">...</span>
        </li>
        {% endif %}
        {% endfor %}
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a class="page-link" href="{{ next_url or '#' }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>